SECRET_KEY=u%0ejr1iroyh&ik9%^&z@u+-^5pv)r1n@^0copzps_@wqe6+g9
TIME_ZONE=Asia/Dhaka
DEBUG=True
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=my_db_name
DB_USER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_PASSWORD=my_db_password
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=example@gmail.com
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_HOST_PASSWORD=mypassword
DOMAIN=127.0.0.1
SITE_NAME=Daybook
PAGINATE_BY=100
